CDSE_USERNAME=
CDSE_PASSWORD=
STAC_URL=https://stac.dataspace.copernicus.eu/v1
AOI_PATH=data/metadata/aoi_gurugram.geojson
DEFAULT_CLOUD_MAX=30.0
DEFAULT_START_YEAR=2022
DEFAULT_END_YEAR=2026
MAX_SCENES=5
